<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          User
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="user">
      
          <ion-item>
            <ion-label>Parent</ion-label>
            <ion-radio slot="start" value="parent"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Kid</ion-label>
            <ion-radio slot="start" value="kid"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
        <ion-button expand="full" (click)="updateCurrency()">
          Update
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Clear Data
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Remove all data?
        <ion-button expand="full" color="danger" (click)="clearData()">
          Clear Data
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  