<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="item != null">
  <ion-card>
    <img [src]="item.url">
    <ion-card-header>
      {{ item.name }}
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-row>
          <ion-col>Protein</ion-col>
          <ion-col>{{ nutrients[0].value }}</ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>Calories</ion-col>
          <ion-col>{{ nutrients[1].value }}</ion-col>
        </ion-row>



        <ion-row>
          <ion-col>Zinc</ion-col>
          <ion-col>{{ nutrients[2].value }}</ion-col>
        </ion-row>



        <ion-row>
          <ion-col>Vitamin A</ion-col>
          <ion-col>{{ nutrients[3].value }}</ion-col>
        </ion-row>



        <ion-row>
          <ion-col>Vitamin D</ion-col>
          <ion-col>{{ nutrients[4].value }}</ion-col>
        </ion-row>



        <ion-row>
          <ion-col>Vitamin C</ion-col>
          <ion-col>{{ nutrients[5].value }}</ion-col>
        </ion-row>



        <ion-row>
          <ion-col>Vitamin E</ion-col>
          <ion-col>{{ nutrients[6].value }}</ion-col>
        </ion-row>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>